@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #1a1a1a;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}

.nav-link {
  @apply block py-2 px-4 text-lg font-medium text-gray-900 hover:bg-green-700 hover:text-white rounded transition-all duration-200;
}